.container {
  margin-top: 15px;
  margin-left: 15px;
}

.header {
  color: #246eb7;

  .time {
    white-space: nowrap;
  }
}

.time {
  color: #a3d4e0;
}

.time:before {
  content: "\00ad";
  margin: 7px;
}

.content {
  margin: 8px;
  p {
    white-space: pre-wrap;
  }
}

.textarea {
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.textarea *{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    border-radius: 5px;
}

textarea{
    padding: 10px;
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.fa-heart{
	color: red;
}

.fa-heart:hover{
	cursor: pointer;
}

.nbLike{
}